<p-card>
  <ng-template pTemplate="title">
    {{'::Menu:Books'|abpLocalization}}
  </ng-template>
  <!-- <p-divider type="solid"></p-divider> -->

<br>
<p-table
  [value]="book.items"
  [resizableColumns]="true"
  styleClass="p-datatable-gridlines"
  [autoLayout]="true"
  >

  <!-- <ng-template pTemplate="caption">
    Header
   </ng-template> -->

  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>

      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
      <tr>
          <td>{{ book.name  }}</td>
          <td>{{ '::Enum:BookType:'+ book.type | abpLocalization }}</td>
          <td>{{ book.price }}</td>

      </tr>
  </ng-template>
</p-table>

</p-card>
