@use '@angular/material' as mat;

@import "../node_modules/@angular/material/theming" ;


@include mat.core();

$angular-primary:mat.define-palette(mat.$purple-palette,200);
$angular-accent: mat.define-palette(mat.$teal-palette, 200);

$angular-dark-theme: mat.define-dark-theme((
 color: (
   primary: $angular-primary,
   accent: $angular-accent,
 )
));

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.

// @include mat.button-theme($my-theme);
